# Vim
*.swp
*.swo

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# NodeJS
package-lock.json

# OSX
.DS_Store

# Patch
*.orig
*.rej
